<% include partials/_header %>

<a class="btn btn-info btn-lg btn-block   mb-3" href="/add">Agregar</a>
<div class="row">
    <div class="col-md-6">
        <% for( var i = 0; i < doneTasks.length; i++) { %>
            <%- include("partials/task/taskCard",{
                task: doneTasks[i], 
                cardTitle: 'Finalizada', 
                turnAction: 'Pasar a pendiente',
                turnColor: 'warning' ,
                cardColorClass: 'success' }) %>             
        <% } %>
    </div>
    <div class="col-md-6">
        <% for( var i = 0; i < pendingTasks.length; i++) { %>
            <%- include("partials/task/taskCard",{
                task: pendingTasks[i], 
                cardTitle: 'Pendiente', 
                turnAction: 'Finalizar',
                turnColor: 'success' ,
                cardColorClass: 'primary' }) %>               
        <% } %>
    </div>
</div>
 
<% include partials/_footer %>