body {
background: #00B4DB; 
background: -webkit-linear-gradient(to left, #0083B0, #00B4DB); 
background: linear-gradient(to left, #0083B0, #00B4DB);

}
.marker {
    font-family: 'Permanent Marker', cursive;
}
.btn-xlarge {
    padding: 18px 28px;
    font-size: 50px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}