<% include ../partials/_header %>

<h1 class="marker">Tasks manager</h1>

<a href="/tasks" class="btn btn-secondary btn-large">ir a tareas ....  <i class="fa fa-tasks"></i></a>

<% include ../partials/_footer %>